body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.container {
    width: 60%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.header {
    text-align: center;
}

.task {
    text-align: center;
    font-size: 1.4em;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.label {
    font-size: 1.2em;
}

.submit {
    padding: 5px 10px 5px 10px;
}

.solution-header, .result-header {
    text-align: center;
}

.solution-text {
    padding: 5px 15px 5px 15px;
    white-space: pre-wrap;
}

.result-text {
    padding: 5px 15px 5px 15px;
}

.result-text {
    font-size: 1.5em;
}

@media screen and (max-width: 426px) {
    .container {
        width: 90%;
    }

    .form {
        flex-direction: column;
    }

    .label {
        margin-bottom: 20px;
    }

    .submit {
        margin-bottom: 20px;
        padding: 10px 20px 10px 20px;
    }
}